.github-div {
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    width: 50%;
    text-decoration: none;
    color: white;
    padding-right: 25px;
    padding-left: 15px;
}

.linkedin-div {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 50%;
    text-decoration: none;
    color: white;
    float: right;
    padding-left: 25px;
}

.footer-div {
    display: flex;
    bottom: 0px;
    position: absolute;
    height: 60px;
}

.text-decoration {
    text-decoration: none;
    color: white;
}
