.active {
    border-style: solid;
    border-color: #00FFD1;
    border-radius: 10px;
    text-decoration: none;
    padding-left: 5px;
}

.text-decoration {
    display: flex;
    align-content: space-between;
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
}

.navbar {
    background-color: black;
    float: left;
    width: 250px;
    height: 100vh;
    margin-right: 1px;
    text-decoration: none;
    position: sticky;
    padding-right: 25px;
    /* position: absolute;
    top: 0px;
    left: 0px; */
}

.navbar-ul {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    font-size: 32px;
}

.add-link {
    margin-top: 20px;
    border: solid;
    border-radius: 5px;
    border-color: #00FFD1;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}
