.active {
    border-style: solid;
    border-color: #00FFD1;
    border-radius: 10px;
    text-decoration: none;
    padding-left: 7px;
}



.text-decoration {
    display: flex;
    align-content: space-between;
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: -20px;
}

.logout-btn {
    cursor: pointer;
    margin-left: -25px;
    margin-right: 15px;
}

.navbar {
    background-color: black;
    float: left;
    width: 175px;
    height: 100%;
    text-decoration: none;
    /* position: sticky; */
    padding-right: 25px;
    position: fixed;
}

.navbar-ul {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    font-size: 32px;
    /* margin-top: 15px; */
}

.add-link {
    margin-top: 20px;
    border: solid;
    border-radius: 5px;
    border-color: #00FFD1;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.login-signup-div {
    /* font-size: 20px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%; */
}

.login-div {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.signup-div {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
}
