.note-form-div {
    /* background-color: tomato; */
    width: 100%;
    height: 80%;
    padding-left: 2px;
}

.note-textarea, .title-div {
    width: 50%;
    font-size: 25px;
    overflow: hidden;
    text-decoration: none;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
}

.notebook-select {
    min-width: 50px;
    max-width: 30%;
    height: 50%;
    position: static
}

.note-btn {
    margin-top: 5px;
    border: solid;
    border-radius: 5px;
    background-color: #00FFD1;
    height: 40px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
}


/* CREATE NOTES PAGE */
.note-div {
    overflow: auto;
    min-height: 200px;
    min-width: 200px;
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 216, 216);
}

.create-note-page-div {
    margin-left: 1px;
}

/* NOTE PAGE */
.note-page-div {
    font-size: 25px;
    margin-bottom: 30px;
    padding: 10px;
    /* position: relative; */
}


/* CREATE NOTE PAGE */
.note-textarea {
    min-height: 300px;
    min-width: 400px;
    /* background-color: tomato; */
}

.notebook-select {
    min-width: 300px;
}

/* CREATE NOTES PAGE */
.displayed-notes-div div {
    padding: 10px;
    display: inline-block;
    max-height: 200px;
    margin: 15px;
    /* border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 216, 216); */
}

.note-title-div {
    font-weight: bold;
    font-size: 20px;
}

.note-page-backgound-img {
    background-image: url('https://www.carid.com/images/inspiration/chevy/camaro/72/1.jpg')
}
