.note-form-div {
    width: 100%;
    height: 80%;
    padding-left: 2px;
}

.note-textarea, .title-div {
    width: 50%;
    font-size: 25px;
    overflow: hidden;
    text-decoration: none;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
}

.notebook-select {
    width: 30%;
    height: 50%;
}
