.h1 {
    margin: 0px;
}

.note-form-div {
    /* background-color: tomato; */
    width: 100%;
    height: 80%;
    padding-left: 2px;
}

.note-textarea, .title-div {
    width: 50%;
    font-size: 25px;
    overflow: auto;
    text-decoration: none;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
}

.note-btn {
    margin-top: 5px;
    border: solid;
    border-radius: 5px;
    background-color: #00FFD1;
    height: 40px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
}


/* CREATE NOTES PAGE */
.note-div {
    background-color: white;
    overflow: hidden;
    min-height: 200px;
    min-width: 400px;
    max-width: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 216, 216);
}

.note-div:hover {
    overflow-y: auto;
}

.create-note-page-div {
    margin-left: 250px;
}

.note-form-title-div {
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    margin-top: -35px;
}

.note-form-content-div {
    font-size: 20px;
}

.displayed-notes-div {
    margin-left: -35px;
    margin-bottom: 100px;
}

/* NOTE PAGE */
.note-page-div {
    font-size: 25px;
    margin-bottom: 30px;
    padding: 10px;
    /* position: relative; */
}


/* CREATE NOTE PAGE */
.note-textarea {
    min-height: 300px;
    min-width: 400px;
    /* background-color: tomato; */
}

.notebook-select {
    /* border: black; */
    border-style: none;
    height: 30px;
    margin-top: 3px;
    font-size: 17px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

/* CREATE NOTES PAGE */
.displayed-notes-div div {
    padding: 10px;
    display: inline-block;
    max-height: 200px;
    margin: 15px;
    /* border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 216, 216); */
}

.note-title-div {
    font-weight: bold;
    font-size: 20px;
}

.note-page-backgound-img {
    background-image: url('https://www.carid.com/images/inspiration/chevy/camaro/72/1.jpg')
}
