/* Note cards */

.full-page-div {
    margin-left: 250px;
    margin-bottom: -75px;
}

.note-card-div {
    background-color: white;
    display: block;
    float: left;
    margin: 15px;
    min-height: 200px;
    min-width: 350px;
    max-width: 100px;
    max-height: 200px;
    font-size: 25px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 216, 216);
}

.note-card-div:hover {
    overflow-y: auto;
}

.note-edit-delete-div {
    margin-top: 70px;
}

.note-page-edit-btn {
    margin-top: 5px;
    border: solid;
    border-radius: 5px;
    background-color: #00FFD1;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    padding: 2px 33px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.note-page-delete-btn {
    margin-top: 5px;
    border: solid;
    border-color: black;
    border-radius: 5px;
    background-color: red;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.note-title-div {
    background-color: #00FFD1;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    margin-bottom: -20px;
    font-size: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

/* Modal */

.modal-background {
    border-radius: 10px;
    font-size: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.modal-container {
    margin-top: -35px;
    margin-left: 105px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 300px;
    height: 210px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(218, 212, 212);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-container .title {
    display: inline-block;
    text-align: center;
    font-size: 10px;
}

.close-btn {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border-color: none;
    border-style: none;
    cursor: pointer;
    width: 30px;
    margin-left: 290px;
    margin-top: -20px;
}

.body {
    background-color: #00FFD1;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

.footer {
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.confirm-delete-btn {
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-color: black;
    border-radius: 5px;
    background-color: #00FFD1;
}

.confirm-cancel-btn {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-color: black;
    border-radius: 5px;
    background-color: white;
}
