

.note-page-div {
    background-color: orange;
    display: inline-block;
    margin: 15px;
    overflow: scroll;
    min-height: 200px;
    min-width: 400px;
    max-width: 100px;
    max-height: 200px;
    padding: 10px;
    overflow: auto;
}

.note-page-btns {

}
