.note-page-div {
    display: inline-block;
    margin: 15px;
    overflow: scroll;
    min-height: 200px;
    min-width: 400px;
    max-width: 100px;
    max-height: 200px;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 216, 216);
}

.note-page-btns {
    margin-top: 5px;
    border: solid;
    border-radius: 5px;
    background-color: #00FFD1;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: 15px;
}

.note-page-title-div {
    font-weight: bold;
    font-size: 30px;
}
