/* TODO Add site wide styles */
body {
    /* background-color: rgb(216, 209, 209); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    background-color: whitesmoke;
}

.home-img {
    /* border-style: solid; */
    height: 315px;
    width: 100%;
    /* margin: 10px; */
    /* opacity: 0.5; */
}

.welcome-div {
    /* background-color: black; */
    margin-top: -40px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 28%;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-text-stroke: 3px black;
    color: #00FFD1;
    font-size: 75px;
}

.logged-out-img {
    height: 405px;
    width: 100%;
    bottom: 0px;
}

.full-card-div {
    display: flex;
    /* position: relative; */
    margin: auto;
}

.home-page-cards {
    background-color: black;
    color: white;
    display: block;
    float: left;
    margin-top: -300px;
    margin-left: 200px;
    width: 350px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 216, 216);
}

.card-h1 {
    font-size: 30px;
}

.card-p {
    font-size: 20px;
}

.home-page-cards2 {
    background-color: black;
    color: white;
    display: block;
    float: right;
    margin-top: -300px;
    margin-right: 200px;
    width: 350px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(223, 216, 216);
}

.h1-div {
    margin-left: 42%;
}

.h2-div {
    margin-left: 44.5%;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 250px;
}

.home-text-links1 {
    background-color: black;
    text-decoration: none;
    border-style: solid;
    border-color: #00FFD1;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.home-text-links2 {
    margin-top: 20px;
    background-color: black;
    text-decoration: none;
    border-style: solid;
    border-color: #00FFD1;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 20px;
}
