.logout-btn {
    margin-top: 50px;
    border: solid;
    border-color: white;
    border-radius: 5px;
    background-color: #00FFD1;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
}


.login-btn {
    margin-top: 20px;
    border: solid;
    border-radius: 5px;
    border-color: #00FFD1;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    cursor: pointer;
}

.login-form {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-size: 20px;
    border-style: solid;
    margin-bottom: -1px;
    margin-left: 45%;
    margin-right: 45%;
    color: white;
    border-color: #00FFD1;
}

.signup-form {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: black;
    font-size: 20px;
    color: white;
    border-style: solid;
    border-color: #00FFD1;
    margin-bottom: -1px;
    margin-left: 45%;
    margin-right: 45%;
}

.signup-btn {
    margin-top: 20px;
    border: solid;
    border-radius: 5px;
    border-color: #00FFD1;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    cursor: pointer;
}
