.search-result-dropdown {
    background-color: white;
    font-size: 17px;
    list-style-type: none;
    margin-bottom: 25px;
    cursor: pointer;
}

.searchbar-input {
    font-size: 15px;
    height: 20px;
    width: 153px;
}
