.notebook-title {
    width: 50%;
    font-size: 25px;
    overflow: hidden;
    text-decoration: none;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
}

.notebook-btn {
    margin-top: 10px;
    border: solid;
    border-radius: 5px;
    background-color: #00FFD1;
    height: 30px;
    width: 130px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.header {
    font-size: 34px;
    margin: 0px;
}
